= form_for :taxon, method: :put, url: admin_handyman_certification_path(resource) do |t|
  = t.hidden_field :certified_status, value: "success"
  = t.submit "通过", class: "btn btn-sm btn-success"

= button_tag '不通过', class: 'btn btn-sm btn-danger', type: 'button', data: {toggle: 'modal', target: '#certifyFailModal', failcode: "#{resource.reason_code || Taxon.reason_codes.first }", failmsg: "#{resource.reason_message}", url: "#{admin_handyman_certification_path(resource)}"}

