/*
 *= require jquery-ui/datepicker
 */
@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'font-awesome';
@import 'table';
@import 'block/*';
@import 'cropperjs/dist/cropper.min';

body {
  padding-top: 65px;
}

#ui-datepicker-div {
  z-index: 9999999!important;
}

.admin_home_page_item {
  text-align: center;
  background: #428BCA;
}

.admin_home_page_item a {
  color: white;
}

.admin_home_page_item a:hover {
  color: #E2E2E2;
  text-decoration: none;
}

.big-modal .modal-dialog {
  width: 900px;
}

.blue-panel {
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #EDFAFF;
}

.withdrawal-info {
  margin-top: 25px;
  margin-left: 30px;
}

.withdrawal-info__row {
  width: 100%;
  margin-bottom: 18px;
}

.withdrawal-info__item {
  margin-right: 25px;
}

.withdrawal-info__item > span {
  display: inline-block;
  margin-left: 12px;
  font-weight: normal;
}

.withdrawal-total {
  margin-top: 30px;
  margin-bottom: 25px;
  border-right: 1px solid #CFC8C8;
}

.withdrawal-total > p {
  font-size: 45px;
  color: #F15959;
}

.taxonBox {
  text-align: left;
  margin: 10px auto 10px;

  .taxonList {
    .taxon {
      margin: 14px auto 14px;

      .label {
        font-size: 14px;
      }

      i.fa-trash {
        color: #555;
      }
    }
  }
  .newTaxon {
    select {
      width: 80%;
    }

    i.fa-plus {
      color: #ff6666;
    }
  }
}
