/*
 *= require jquery-ui/datepicker
 */
@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'font-awesome';
@import 'table';
@import 'block/*';

body {
  padding-top: 65px;
}

#ui-datepicker-div {
  z-index: 9999999!important;
}

.admin_home_page_item {
  text-align: center;
  background: #428BCA;
}

.admin_home_page_item a {
  color: white;
}

.admin_home_page_item a:hover {
  color: #E2E2E2;
  text-decoration: none;
}


.taxonBox {
  text-align: left;
  margin: 10px auto 10px;

  .taxonList {
    .taxon {
      margin: 14px auto 14px;

      .label {
        font-size: 14px;
      }

      i.fa-trash {
        color: #555;
      }
    }
  }
  .newTaxon {
    select {
      width: 80%;
    }

    i.fa-plus {
      color: #ff6666;
    }
  }
}
