# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f0826e6d9592cec6a2456b2aa06c6190d1d691571b2a463ea350680147747f4094085fe19775c8d5bd26468ca1d9853afee167e6a4ad655ffc34df68d5c5c513

test:
  secret_key_base: 809592172691ef83d1c128e211ad285eb4b1e2fe813bdedaa234ef48f2b98da3118da4eff55c0b6aacb814b83f08fd2ad9b1e45c437329db6118ca971350130b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
