.item {
  border-bottom: 1px solid #EDEDED;
  padding: 10px 5px;
  margin: 0;
}

.item--last {
  border: none;
}

.item ul {
  list-style: none;
  padding: 0;
}

.item__title {
  margin-bottom: 4px;
  font-weight: 700;
}

.item__element-title {
  display: inline-block;
  text-align-last: justify;
  width: 65px;
}
.item__element-colon {
  display: inline-block;
  margin-right: 10px;
}

.item--payment dd {
  display: table;
  height: 100px;
  width: 100%;
}

.item--payment ul {
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
}

.item--payment li:last-child {
  font-size: 18px;
  font-weight: 700;
}

.item--payment .item__element-title {
  text-align-last: right;
  width: 100px;
}

.item--payment .item__element-value {
  display: inline-block;
  width: 100px;
  text-align: left;
}

.item--payment li:last-child:before {
  content: "";
  text-align: center;
  display: block;
  border-top: 1px solid #ccc;
  margin: auto;
  margin-top: 10px;
  width: 200px;
}

.item--payment li:last-child .item__element-value {
  color: red;
}

.order__states {
  text-align: center;
  display: inline-block;
  text-align: center;
  list-style: none;
  padding: 0px 10px;
}

.order__history-completed {
  vertical-align: middle;
  color: #5BB75B;
}

.order__history-uncompleted {
  vertical-align: middle;
  color: gray;
}
