.profile {
  margin-top: 20px;
}

.profile__label {
  padding-top: 7px;
  text-align: right;
  font-weight: 700;
}

.profile__group {
  margin-bottom: 15px;
}

.profile__group:after {
  display: block;
  content: "";
  clear: both;
}

.profile__img {
  display: block;
  margin: auto;
  max-width: 70px
}

.profile__input {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  min-height: 34px;
  padding: 6px 12px;
}

.profile__taxon .certify__label {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
}

.profile__taxon .taxon {
  margin-bottom: 10px;
  margin-right: 8px;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 60px;
  padding-left: 60px;
}

.profile__taxon a {
  display: inline-block;
  margin-right: 4px;
  margin-top: 7px;
}


