.tabs {
}

.tabs__header {
}

.tabs__search {
  text-align: right;
  padding: 10px 0;

}

.tabs__search input {
  height: 33px;
  padding: 10px;
  border-radius: 5px;
}

.tabs__content {
  width: 100%;
}
