@import 'global';
@import 'font-awesome';
@import 'bootstrap';
@import 'material-design-lite/material.min';
@import 'bourbon';
@import 'fonts';

/* Elements style */
@mixin normal-fontfamily {
  font-family: "PingHei", "STHeitiSC-Light", Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}

body {
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga", "kern";
  text-rendering: optimizelegibility;
  color: #555555;
}

.navbar-spacer {
  padding-top: 65px;
}

.top-spacer {
  padding-top: 24px;
}

.gray-backgroud {
  background-color: #f4f4f1;
}

a {
  color: #555555;
  text-decoration: none;
  &:hover, &:focus {
    color: black;
    text-decoration: none;
  }
}

body, .mdl-button {
  @include normal-fontfamily;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  @include normal-fontfamily;
}

h1, .h1 {
  font-size: 30px;
  @media (min-width: $screen-sm-min) {
    font-size: 36px;
  }
}

h2, .h2 {
  font-size: 20px;
  @media (min-width: $screen-sm-min) {
    font-size: 26px;
  }
}

h3, .h3 {
  font-size: 16px;
  @media (min-width: $screen-sm-min) {
    font-size: 22px;
  }
}

h4, .h4 {
  font-size: 16px;
  @media (min-width: $screen-sm-min) {
    font-size: 18px;
  }
}

.alert {
  border-radius: 0;
  margin-bottom: 10px;
}

.panel {
  border-radius: 0;
  box-shadow: none;
  .panel-body {
    padding: 12px;
  }
}

// Fixes bootstrap confliction with mdl textfields.
.mdl-textfield__label {
  margin-bottom: 0px;
}

.mdl-button.mdl-button--colored {
  color: #337AB7;
}

.i-md-label {
  color: #3f51b5;
  font-size: 12px;
  top: 4px;
  visibility: visible;
}

.label.label-span {
  margin-left: 4px;
  margin-right: 4px;
}

.btn-normal {
  border-radius: 0;
  border: none;
  background-color: #04b7b7;
  display: inline-block;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  color: $alphaWhite;
  border: none;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
  &:hover {
    color: $alphaWhite;
    background-color: #3dbcf5;
  }
}

.icon-in-button {
  margin-right: 4px;
}

input[type=checkbox] {
  margin-right: 5px;
}

.t-input {
  box-shadow: none;
  border: 1px solid #cccccc;
  &:focus {
    outline: medium none;
    border-color: rgba(82, 168, 236, 0.8);
  }
}

.btn-blue {
  display: inline-block;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  border-radius: 25px;
  color: $alphaWhite;
  background-color: #049cdb;
  border: none;
  font-size: 16px;
  letter-spacing: 2px;
  text-align: center;
  &:hover, &:focus {
    color: $alphaWhite;
    background-color: #3dbcf5;
  }
}
.btn.btn-one-in-row {
  width: 42%;
}
.btn.btn-two-in-row {
  width: 28%;
  margin: 0 6px;
}
.btn-simple-letters {
  font-size: 18px;
}

.less-color {
  color: #777777;
}

select.select-block {
  display: block;
}

select.select-block.select-block-center {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

select.select-block.select-block-fullwidth {
  width: 100%;
}

@mixin h-center($max-width, $screen-sm-width) {
  @extend .text-center;
  width: 100%;
  max-width: $max-width;
  @media (min-width: $screen-sm-min) {
    width: $screen-sm-width;
  }
  margin-left: auto;
  margin-right: auto;
}

.common-card {
  width: 94%;
  margin: 0px auto 16px;
  .mdl-card__supporting-text {
    width: 100%;
    padding-bottom: 16px;
  }
  .card-divider {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.accent-color {
  color: #ff4081;
}

.tight-elements {
  p {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  p.small-text {
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 7px;
  }
  p.medium-text {
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 10px;
  }
  h1, h2, h3, h4 {
    margin: 0px auto 0px;
  }
}

/* App layouts */
.details-card-layout {
  .details-header-card, .details-content-card {
    @extend .common-card;
    @extend .tight-elements;
    min-height: 80px;
  }
  .details-header-card {
    padding-top: 8px;
  }
  .details-content-card {
    .card-attr-title {
      color: #0688cc;
      margin-bottom: 4px;
      .fa-icon {
        margin-right: 5px;
      }
    }
  }
}

/* App components style */
.field_with_errors {
  display: inline;
  color: #e84141;
}

#brand_navbar {
  background-color: adjust-color(#b5b4b4, $lightness: -30%, $alpha: -0.4);
  a {
    color: white;
    /*color: $alphaWhite;*/
    &:hover {
      /*color: #36a1de;*/
    }
  }
  .navbar-right-btns {
    margin-right: 12px;
    margin-top: 10px;
    .btn-navbar {
      background-color: #4d9dcd;
      font-size: 12px;
      margin-right: 5px;
    }
  }
  .navbar-btn {
    margin-top: 3px;
    margin-bottom: 0px;
    .logo-img {
      @include background-image(url("/images/navbar_logo.svg"), url("/images/navbar_logo.png"));
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: center 0;
      padding-top: 78%;
      height: 0px;
      width: 25px;//100%;
      margin-top: 0px;
      margin-left: 12px;
    }
  }
}

.header-logo {
  padding: 5px 0 0 0;
  margin: 0;
  background: white;
  /*@include background-image(url("/images/logo.svg"));*/
  background-position: center 0;
  background-repeat: no-repeat;
  p {
    letter-spacing: 2px;
    margin-bottom: 10px;
  }
  h1 {
    color: $logoRed;
    /*font-family: "orbitron-medium";*/
  }
}

.title {
  text-align: center;
  border-bottom: 1px solid #eeeeee;
  color: #b1b1b1;
  margin: 10px auto 30px;
  b {
    margin: 0 14px;
  }
  a {
    color: #b1b1b1;
    &.active {
      color: #555555;
    }
  }
  span {
    background: white none repeat scroll 0 0;
    padding: 0 30px;
    position: relative;
    top: 10px;
  }
}

.login-page, .signup-page {
  text-align: center;
  padding: 1px 0 45px;
  form {
    border-bottom: 1px solid #eeeeee;
    margin: 0 auto 25px;
    padding-bottom: 40px;

    width: 247px;
    @media (min-width: $screen-sm-min) {
      width: 300px;
    }

    .t-input {
      height: 44px;
      padding: 4px 12px;
    }
    .t-input, select {
      width: calc(100% - 44px);
    }
    .foot-control-group {
      text-align: left;
      width: 100%;
      margin-top: 14px;
      padding: 0 22px;
    }
  }
  p.notie {
    color: #b1b1b1;
  }
}

.home-index-page {
  .intro-container {
    max-width: 500px;
    margin: -20px auto 40px;
    .intro-pattern {
      @include background-image(url("/images/intro_pattern.svg"));
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: center 0;
      padding-top: 91%;
      height: 0px;
      width: 100%;
      margin: 0 auto;
    }
    .intro-logo {
      @include background-image(url("/images/intro_logo.svg"));
      background-repeat: no-repeat;
      background-size: 38% auto;
      background-position: center 0;
      padding-top: 42%;
      height: 0px;
      width: 100%;
      margin: 0 auto;
    }
  }
}

.order-new-page {
  select {
    margin-bottom: 4px;
  }
  select.select-block, .datetime-select-zone {
    max-width: 300px;
  }
  .datetime-select-zone {
    width: 100%;
    @media (min-width: 350px) {
      width: 76%;
    }
    margin: 0px auto;
    .datetime-select.year, .datetime-select.month, .datetime-select.day {
      width: 30%;
    }
    .datetime-select.hour, .datetime-select.minute {
      width: 48%;
    }
    .datetime-select.minute, .datetime-select.day {
      @extend .pull-right;
    }
    .datetime-select.month {
      margin-left: calc(5% - 4px);
    }
  }
  #order_content {
    height: 85px;
  }
  #order_content, .mdl-textfield, .btn-create-order {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .btn-create-order {
    letter-spacing: 3px;
    margin-bottom: 7px;
  }
}

.order-new-page select.select-block, .price-desc-field table {
  width: 78%;
  @media (min-width: 350px) {
    width: 59%;
  }
  margin-left: auto;
  margin-right: auto;
}

.price-desc-field {
  table {
    margin-bottom: 16px;
  }
  p.price-desc-label {
    @extend p.small-text;
  }
}

.bonus-desc-field {
  p.bonus-desc-label {
    @extend p.small-text;
    span {
      margin-left: 4px;
      margin-right: 4px;
      color: #ff4081;
    }
  }
}

.orders-list {
  list-style-type: none;
  padding: 0 40px 0;
  li {
    h2 {
      line-height: 1.4;
    }
    border-bottom: 1px dashed #d9d9d9;
    &:last-of-type {
      border-bottom: none;
    }
    padding-bottom: 10px;
    position: relative;
    width: 100%;
    word-wrap: break-word;
    line-height : 24px;
  }
}

.order-index-item {
  margin-bottom: 11px;
  .item-title a {
    color: darken(#00c2eb, 11%);
  }
  .order-attr-bar {
    .attr-bar-icon {
      margin-right: 5px;
    }
    .attr-bar-icon-right {
      margin-left: 5px;
    }
    .created-at-attr, .arrives-at-attr {
      margin-right: 4px;
    }
    .arrives-at-attr {
      font-weight: bold;
    }
    margin-top: 6px;
  }
  .state-desc {
    @extend .less-color;
    margin-right: 8px;
  }
  .contracted-state, .payment-state {
    color: #ff6666;
  }
}

.order-cards-list {
  .order-card, .page-navigation {
    width: 86%;
    @media (min-width: $screen-sm-min) {
      width: 66%;
    }
    margin: 0 auto 16px;
  }
  .order-card {
    @extend .order-index-item;
    .mdl-card__supporting-text {
      width: 100%;
    }
    .mdl-card__title {
      color: rgba(0, 0, 0, 0.7);
      height: 86px;
      width: 80%;
      h2 {
        width: 100%;
        display: block;
      }
    }
    .mdl-card__title-text {
      font-size: 20px;
    }
    .order-state-icon {
      color: rgba(0, 0, 0, 0.5);
    }
    p {
      line-height: 18px;
    }
  }
}

.order-details-header-card, .order-details-attributes-card {
  @extend .common-card;
  @extend .tight-elements;
  .mdl-textfield__label {
    text-align: center;
  }
}

.order-details-header-card {
  min-height: 80px;
  .handyman-contact {
    margin-top: 11px;
    .handyman-tag {
      @extend .less-color;
      margin-left: 4px;
    }
    .phone-link {
      font-size: 16px;
    }
  }
  .menu-in-less-height {
    .mdl-menu__container {
      top: -4px !important;
      right: 31px !important;
    }
    button {
      margin-right: -7px;
      margin-top: -7px;
    }
  }
}

.order-details-attributes-card {
  .card-attr-title {
    color: #0688cc;
    margin-bottom: 4px;
  }
}

.order-show-page {
  input#order_user_total {
    display: block;
  }

  input#order_user_total, .pay-buttons {
    @include h-center(250px, 250px);
  }

  .user-total-textfield {
    margin-top: -14px;
    margin-bottom: -7px;
  }
}

.handyman-order-cards-list {
  .mdl-card__title > h2.mdl-card__title-text {
    font-size: 16px;
    line-height: 1.2;
  }
}

.handyman-order-show-page {
  .order-details-header-card {
    padding-top: 8px;
  }
  .bonus-card-field {
    padding-top: 0;
  }
  #contract-order-btn {
    margin-bottom: 9px;
  }
}

.handyman-profile-page {
  .profile-card {
    width: 86%;
    @media (min-width: $screen-sm-min) {
      width: 66%;
    }
    margin: 0 auto 16px;
    .mdl-card__title {
      height: 86px;
    }
    p {
      line-height: 18px;
    }
  }
}

#receive_order_btn {
  @include h-center(100%, 100%);
}

.taxonBox {
  text-align: left;
  width: 80%;
  margin: 10px auto 10px;

  .taxonList {
    .taxon {
      margin: 14px auto 14px;

      .label {
        font-size: 14px;
      }

      i.fa-trash {
        color: #555;
      }
    }
  }
  .newTaxon {
    select {
      width: 80%;
    }

    i.fa-plus {
      color: #ff6666;
    }
  }
}
