/*
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import 'global';
@import 'font-awesome';
@import 'bootstrap';
@import 'bourbon';
/*@import 'fonts';*/

/* Elements style */
body {
  padding-top: 65px;
  color: #555555;
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}

.gray-backgroud {
  background-color: #f4f4f1;
}

a {
  color: #555555;
  text-decoration: none;
  &:hover, &:focus {
    color: black;
    text-decoration: none;
  }
}

h1, .h1 {
  font-size: 30px;
  @media (min-width: $screen-sm-min) {
    font-size: 36px;
  }
}

h2, .h2 {
  font-size: 20px;
  @media (min-width: $screen-sm-min) {
    font-size: 26px;
  }
}

h3, .h3 {
  font-size: 16px;
  @media (min-width: $screen-sm-min) {
    font-size: 22px;
  }
}

.alert {
  border-radius: 0;
}

.panel {
  border-radius: 0;
  box-shadow: none;
  .panel-body {
    padding: 12px;
  }
}

.btn-normal {
  border-radius: 0;
  border: none;
  background-color: #04b7b7;
  display: inline-block;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  color: $alphaWhite;
  border: none;
  font-size: 16px;
  letter-spacing: 2px;
  text-align: center;
  &:hover, &:focus {
    color: $alphaWhite;
    background-color: #3dbcf5;
  }
}

input[type=checkbox] {
  margin-right: 5px;
}

.t-input {
  box-shadow: none;
  border: 1px solid #cccccc;
  &:focus {
    outline: medium none;
    border-color: rgba(82, 168, 236, 0.8);
  }
}

.btn-blue {
  display: inline-block;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  border-radius: 25px;
  color: $alphaWhite;
  background-color: #049cdb;
  border: none;
  font-size: 16px;
  letter-spacing: 2px;
  text-align: center;
  &:hover, &:focus {
    color: $alphaWhite;
    background-color: #3dbcf5;
  }
}

.btn-simple-letters {
  font-size: 18px;
}

.less-color {
  color: #777777;
}

@mixin h-center($max-width, $screen-sm-width) {
  @extend .text-center;
  width: 100%;
  max-width: $max-width;
  @media (min-width: $screen-sm-min) {
    width: $screen-sm-width;
  }
  margin-left: auto;
  margin-right: auto;
}

/* App style */
.field_with_errors {
  display: inline;
  color: #e84141;
}

#brand_navbar {
  background-color: #36383A;
  /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04);*/
  .logo_brand {
    color: lighten(#3dbcf5, 10%);
    line-height: 21px;

    /*font-family: "orbitron-medium";*/
    &:hover {
      color: lighten(#3dbcf5, 35%);
    }
  }
  a {
    color: $alphaWhite;
    &:hover {
      color: #36a1de;
    }
  }
  .navbar-toggle-button {
    color: $alphaWhite;
    font-size: 124%;
    &:hover, &:focus {
      color: #3dbcf5;
    }
  }
}

.header-logo {
  padding: 5px 0 0 0;
  margin: 0;
  background: white;
  /*@include background-image(url("/images/logo.svg"));*/
  background-position: center 0;
  background-repeat: no-repeat;
  p {
    letter-spacing: 2px;
    margin-bottom: 10px;
  }
  h1 {
    color: $logoRed;
    /*font-family: "orbitron-medium";*/
  }
}

.title {
  text-align: center;
  border-bottom: 1px solid #eeeeee;
  color: #b1b1b1;
  margin: 10px auto 30px;
  b {
    margin: 0 14px;
  }
  a {
    color: #b1b1b1;
    &.active {
      color: #555555;
    }
  }
  span {
    background: white none repeat scroll 0 0;
    padding: 0 30px;
    position: relative;
    top: 10px;
  }
}

.login-page, .signup-page {
  text-align: center;
  padding: 1px 0 45px;
  form {
    border-bottom: 1px solid #eeeeee;
    margin: 0 auto 25px;
    padding-bottom: 40px;

    width: 247px;
    @media (min-width: $screen-sm-min) {
      width: 300px;
    }

    .t-input {
      height: 44px;
      padding: 4px 12px;
    }
    .t-input, select {
      width: calc(100% - 44px);
    }
    .foot-control-group {
      text-align: left;
      width: 100%;
      margin-top: 14px;
      padding: 0 22px;
    }
  }
}

.home-index-page {
  p.normal-text {
    /*margin: 0 auto 10px;*/
    display: inline-block;
  }
  .btn-in-flash {
    margin-top: -2px;
    padding: 3px 25px;
    margin-left: 16px;
  }
  .btn-sign-in {
    padding: 3px 9px;
    margin-left: 18px;
  }
  .btn-sign-up {
    padding: 3px 9px;
    margin-left: 10px;
  }
}

.order-new-page {
  #order_arrives_at_4i {
  }

  #order_content {
    height: 85px;
  }

  #order_content, #order_address_attributes_content, input.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .btn-create-order {
    width: 72px;
  }
}

.orders-list {
  list-style-type: none;
  padding: 0 40px 0;
  li {
    &:first-of-type {
      h2 {
        margin-top: 15px;
      }
    }
    border-bottom: 1px dashed #d9d9d9;
    &:last-of-type {
      border-bottom: none;
    }
    margin: 0 0 5px;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
    word-wrap: break-word;
    line-height : 24px;
  }
}

.order-index-item {
  .item-title a {
    color: darken(#00c2eb, 11%);
  }
  .order-attr-bar {
    .attr-bar-icon {
      margin-right: 5px;
    }
    .attr-bar-icon-right {
      margin-left: 5px;
    }
    .created-at-attr {
      margin-right: 4px;
    }
  }
  .state-desc {
    @extend .less-color;
    margin-right: 8px;
  }
  .requested-state {
    font-weight: bold;
  }
  .requested-state, .contracted-state, .payment-state {
    color: #ff6666;
  }
}

.order-show-page {
  input#order_user_total {
    display: block;
  }

  input#order_user_total, .pay-buttons {
    @include h-center(250px, 250px);
  }
}

#receive_order_btn {
  @include h-center(100%, 100%);
}

.taxonBox {
  text-align: left;
  width: 80%;
  margin: 10px auto 10px;

  .taxonList {
    .taxon {
      margin: 14px auto 14px;

      .label {
        font-size: 14px;
      }

      i.fa-trash {
        color: #555;
      }
    }
  }
  .newTaxon {
    select {
      width: 80%;
    }
  }
}
