.container
  = render partial: 'shared/tabs', locals: { tabs: tabs_info }

  .tabs__content
    = render partial: 'admin/shared/dashboard/index', locals: { resources: @accounts, dashboard: dashboard, instance: @search }
