= render_admin_account_breadcrumb(@handyman, "财务信息")

= admin_handyman_finance_render_tabs(@handyman)

= render partial: 'admin/shared/dashboard/index', locals: { resources: @failed_withdrawals, dashboard: dashboard, instance: nil }

